langchain
langchain-community
pypdf
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
streamlit
langchain-groq
langserve
langchainhub
validators==0.28.1
youtube_transcript_api
unstructured
pytube
