langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain-groq
fastapi
langserve
arxiv
wikipedia
langchainhub
validators==0.28.1
youtube_transcript_api
unstructured
pytube